  <footer>
    <a href="mapa-pokryti.jpg" target='_blank'>Mapa pokrytí</a> | <a href="vseobecne-podminky.pdf" target='_blank'>Všeobecné podmínky</a> | <a href="rozhrani.pdf" target='_blank'>Rozhraní</a>
  </footer>