*{
    border: none;
}
body{ 
background-image: url('../images/pozadi.jpg');
background-repeat: repeat-x;
background-color: #004d7d;
background-attachment: fixed;
}
#page{
    width: 940px;
    display: block;
    margin: 0 auto;
    float: top;
    margin-top: 40px;
    margin-bottom: 30px;
}
#head{
    width: 870px;
    height: 43px;
    float: left;
    margin-left: 50px;
}
#head #logo{
    width: 231px;
    height: 43px;
    float: left;
}
#head #napis_hlavni{
    height: 43px;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
}
#head #napis_hlavni label{
    font-family: helvetica;
    font-weight: normal;
    color: white;
    font-size: 24px;
}
#body{
    width: 940px;
    min-height: 300px;
    background-color: white;
    float: left;
    margin-top: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#pata{
    width: 940px;
    height: 123px;
    float: left;
    margin-bottom: 30px;
}
#pata #diginex_logo{
    margin-top: 50px;
    margin-left: 70px;
    width: 187px;   
    height: 50px;
    background-image: url('../images/logo_diginex.png');
    float: left;
}
#pata #text{
    margin-top: 65px;
    margin-left: 290px;
    width: auto;   
    height: auto;
    float: left;
}
#pata #text label{
    font-family: helvetica;
    color: white;
    font-weight: lighter;
    font-size: 20px;
}
#pata #text a{
    font-family: helvetica;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#pata #text a:hover{
    font-family: helvetica;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
#nadpis_body{
    width: 810px;
    height: 70px;
    float: left;
    padding: 40px 0px 0px 90px;
}
#nadpis_body h1{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: #333333;
    font-size: 31px;
    font-weight: lighter;
}
#schema{
    width: 940px;
    height: 419px;
    float: left;
}
#schema img {
    width: 524px;
    height: 419px;
    float: left;
    margin-left: 90px;
}
#schema #text_blok {
    width: 236px;
    height: 419px;
    float: left;
    margin-left: 40px;
}
#schema #text_blok p{
    margin: 0px 0px 0px 0px;
    font-family: arial;
    line-height: 30px;
    text-align: center;
    color: #333333;
    font-size: 19px;
    font-weight: lighter;
}

#tarif{
    width: 268px;
    height: 375px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #034876;
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#tarif #L1{
    width: 171px;
    height: 160px;
    float: left;
    border-top-left-radius: 20px;
}
#tarif #L11{
    width: 171px;
    height: 65px;
    float: left;
    margin-top: 20px;
}
#tarif #L11 #L111{
    width: 131px;
    height: 20px;
    float: left;
    margin-left: 25px;
}
#tarif #L11 #L111 label{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}
#tarif #L11 #L112{
    width: 131px;
    height: 45px;
    float: left;
    margin-left: 30px;
}
#tarif #L11 #L112 label{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
#tarif #L12{
    width: 160px;
    height: 1px;
    float: left;
    background-color: white;
}
#tarif #L13{
    width: 171px;
    height: 65px;
    float: left;
    padding-left: 40px;
    margin-top: 15px;
}
#tarif #L13 .down{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 30px;
    font-weight: lighter;
}
#tarif #L13 .up{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}
#tarif #R1{
    width: 97px;
    height: 160px;
    /*background-color: red;*/
    float: left;
    border-top-right-radius: 20px;
}
#tarif #R1 img{
    margin-top: 20px;
}
#tarif #C1{
    width: 248px;
    height: 1px;
    float: left;
    background-color: white;
}
#tarif #C2{
    width: 199px;
    margin-left: 40px;
    margin-top: 10px;
    height: 100px;
    float: left;
}
#tarif #C2 p{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    line-height: 30px;
}
#tarif #C3{
    width: 228px;
    margin-left: 20px;
    height: 80px;
    float: left;
    background-color: black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#tarif #C3 #C31{
    width: 200px;
    height: 35px;
    float: left;
    background-color: black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-top: 5px;
    padding-left: 28px;
}
#tarif #C3 #C31 label{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 25px;
    font-weight: lighter;
}
#tarif #C3 #C32{
    width: 228px;
    height: 35px;
    float: left;
    padding-top: 5px;
    background-color: #ffcb43;
    font-family: helvetica;
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#text_pokryti{
    width: 780px;
    height: 119px;
    float: left;
    margin-left: 80px;
    text-align: justify;
}
#text_pokryti p{
    margin: 0px 0px 0px 0px;
    font-family: arial;
    color: #333333;
    font-size: 19px;
    font-weight: lighter;
    line-height: 30px;
}
#mapa_pokryti{
    width: 760px;
    height: 459px;
    float: left;
    margin-left: 90px;
}


#body_part_4{
    width: 493px;
    padding: 20px 40px 20px 40px;
    height: 625px;
    float: left;
    position: static;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    background-color: #e3f4ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#body_part_4 .nadpis h1{
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    float: left;
    color: #333333;
    font-size: 30px;
}
#body_part_4 .form{
    margin-top: 37px;
    float: left;
}
#body_part_4 .form .radek{
    width: 500px;
    min-height: 27px;
    display: block;
    margin-top: 10px;
    float: left;
}
#body_part_4 .form .radek .polozka{
    width: 187px;
    font-family: helvetica;
    color: #333333;
    font-size: 20px;
    height: 27px;
    background-image: url('/images/odrazka.png');
    background-repeat: no-repeat; 
    float: left;
}
#body_part_4 .form .radek .policko{
    height: 23px;
    width: 300px;
    padding: 0px 0px 0px 0px;
    border: 2px #004d7d solid;
    float: left;
    font-family: helvetica;
    font-size: 20px;
}
#body_part_4 .form .radek .policko_2{
    max-height: 75px;
    height: 75px;
    max-width: 300px;
    width: 560px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 2px #004d7d solid;
    float: left;
    font-family: helvetica;
    font-size: 20px;
    display: block;
}
#body_part_4 .popisek{
    margin-top: 28px;
    float: left;
    font-family: helvetica;
    color: #333333;
    font-size: 20px;
}
#odeslat{
    width: 150px;
    height: 40px;
    float: left;
    margin-top: 37px;
    margin-bottom: 77px;
}
#odeslat input{
    width: 150px;
    height: 40px;
    font-family: helvetica;
    color: white;
    background-color: #004d7d; 
    font-size: 20px;
    float: left;
}
#odeslat input:hover{
    width: 150px;
    height: 40px;
    font-family: helvetica;
    color: white;
    background-color: #509bcc; 
    font-size: 20px;
    float: left;
}
#odeslat input:focus{
    width: 150px;
    height: 40px;
    font-family: helvetica;
    color: white;
    background-color: #509bcc; 
    font-size: 20px;
    float: left;
    border: 2px #019595 inset;
}
.poznamka{
    float: left;
    width: 260px;
    margin-left: 34px;
    font-family: helvetica;
    text-align: justify;
}
.left{
    float: left;
    width: 268px;
    margin-right: 30px;
}
.odkaz_podminky{
    color: #2a2a2a;
    text-decoration: none;
}
.odkaz_podminky:hover{
    color: #2a2a2a;
    text-decoration: underline;
}