_*{
    border: none;
}
body{ 
background-image: url('../images/pozadi.jpg');
background-repeat: repeat-x;
background-color: white;
background-attachment: fixed;
}
#page{
    width: 940px;
    display: block;
    margin: 0 auto;
    float: top;
    margin-top: 40px;
    margin-bottom: 30px;
}
#head{
    width: 870px;
    height: 43px;
    float: left;
    margin-left: 50px;
}
#head #logo{
    width: 231px;
    height: 43px;
    float: left;
}
#head #napis_hlavni{
    height: 43px;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
}
#head #napis_hlavni label{
    font-family: helvetica;
    font-weight: normal;
    color: white;
    font-size: 24px;
}
#body{
    width: 940px;
    min-height: 300px;
    background-color: white;
    float: left;
    margin-top: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#pata{
    width: 940px;
    height: 123px;
    float: left;
    margin-bottom: 30px;
}
#pata #diginex_logo{
    margin-top: 50px;
    margin-left: 70px;
    width: 187px;   
    height: 50px;
    background-image: url('../images/logo_diginex.png');
    float: left;
}
#pata #text{
    margin-top: 65px;
    margin-left: 240px;
    width: auto;   
    height: auto;
    float: left;
}
#pata #text label{
    font-family: helvetica;
    color: white;
    font-weight: lighter;
    font-size: 20px;
}
#pata #text a{
    font-family: helvetica;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#pata #text a:hover{
    font-family: helvetica;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
.nadpis_body{
    width: 810px;
    height: 70px;
    float: left;
    padding: 40px 0px 0px 90px;
}
.nadpis_body h1{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: #333333;
    font-size: 31px;
    font-weight: lighter;
}
.nadpis_body h2{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: #333333;
    font-size: 31px;
    font-weight: lighter;
}
#schema{
    width: 940px;
    height: 419px;
    float: left;
}
#schema img {
    width: 514px; /*524px; */
    height: 419px;
    float: left;
    margin-left: 90px;
}
#schema #text_blok {
    width: 236px;
    height: 419px;
    float: left;
    margin-left: 40px;
}
#schema #text_blok p{
    margin: 0px 0px 0px 0px;
    font-family: arial;
    line-height: 30px;
    text-align: justify; /*center; */
    color: #333333;
    font-size: 19px;
    font-weight: lighter;
}
#tarify{
    width: 930px;
    padding-left: 10px;
    height: 375px;
    float: left;
}
#tarify .tarif{
    width: 268px;
    height: 375px;
    margin-left: 30px;
    background-color: #034876;
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*#tarify .tarif:hover{
    width: 268px;
    height: 375px;
    margin-left: 30px;
    background-color: #0d5280;
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}*/
#tarify .tarif .L1{
    width: 171px;
    height: 160px;
    float: left;
    border-top-left-radius: 20px;
}
#tarify .tarif .L11{
    width: 171px;
    height: 65px;
    float: left;
    margin-top: 20px;
}
#tarify .tarif .L11 .L111{
    width: 131px;
    height: 20px;
    float: left;
    margin-left: 25px;
}
#tarify .tarif .L11 .L111 label{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}
#tarify .tarif .L11 .L112{
    width: 131px;
    height: 45px;
    float: left;
    margin-left: 30px;
}
#tarify .tarif .L11 .L112 label{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
#tarify .tarif .L12{
    width: 160px;
    height: 1px;
    float: left;
    background-color: white;
}
#tarify .tarif .L13{
    width: 131px;
    height: 65px;
    float: left;
    padding-left: 40px;
    margin-top: 15px;
}
#tarify .tarif .L13 label{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 30px;
    font-weight: lighter;
}
#tarify .tarif .R1{
    width: 97px;
    height: 160px;
    /*background-color: red;*/
    float: left;
    border-top-right-radius: 20px;
}
#tarify .tarif .R1 img{
    margin-top: 20px;
}
#tarify .tarif .C1{
    width: 248px;
    height: 1px;
    float: left;
    background-color: white;
}
#tarify .tarif .C2{
    width: 199px;
    margin-left: 40px;
    margin-top: 10px;
    height: 100px;
    float: left;
}
#tarify .tarif .C2 p{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    line-height: 30px;
}
#tarify .tarif .C3{
    width: 228px;
    margin-left: 20px;
    height: 80px;
    float: left;
    background-color: black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#tarify .tarif .C3 .C31{
    width: 160px;
    height: 35px;
    float: left;
    background-color: black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-top: 5px;
    padding-left: 68px;
}
#tarify .tarif .C3 .C31 label{
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    color: white;
    font-size: 25px;
    font-weight: lighter;
}
#tarify .tarif .C3 a .C32{
    width: 145px;
    height: 35px;
    float: left;
    padding-top: 5px;
    padding-left: 83px;
    background-color: #ffcb43;
    font-family: helvetica;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#tarify .tarif .C3 a .C32:hover{
    width: 145px;
    height: 35px;
    float: left;
    padding-top: 5px;
    padding-left: 83px;
    background-color: #ffe9b0;
    font-family: helvetica;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#text_pokryti{
    width: 780px;
    margin-bottom: 15px;
    float: left;
    margin-left: 80px;
    text-align: justify;
}
#text_pokryti p{
    margin: 0px 0px 0px 0px;
    font-family: arial;
    color: #333333;
    font-size: 19px;
    font-weight: lighter;
    line-height: 30px;
}
#mapa_pokryti{
    width: 760px;
    /*height: 459px;*/
    float: left;
    margin-left: 90px;
}

#akce{
    width: 780px;
    height: 140px;
    font-family: helvetica;
    padding: 0px 40px 5px 40px;
    float: left;
    position: static;
    margin-top: 37px;
    margin-left: 40px;
    background-color: #e3f4ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#body_part_4{
    width: 780px;
    padding: 20px 40px 20px 40px;
    height: 325px;
    float: left;
    position: static;
    margin-top: 37px;
    margin-left: 40px;
    background-color: #e3f4ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#body_part_4 .nadpis h2{
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    font-family: helvetica;
    float: left;
    color: #333333;
    font-size: 30px;
}
#body_part_4 .form{
    margin-top: 37px;
    float: left;
}
#body_part_4 .form .radek{
    width: 780px;
    min-height: 27px;
    display: block;
    margin-top: 10px;
    float: left;
}
#body_part_4 .form .radek .polozka{
    width: 187px;
    /*padding-left: 29px; */
    padding-left: 19px;
    font-family: helvetica;
    color: #333333;
    font-size: 20px;
    height: 27px;
    background-image: url('/images/odrazka.png');
    background-repeat: no-repeat; 
    float: left;
}
#body_part_4 .form .radek .policko{
    height: 23px;
    width: 560px;
    padding: 0px 0px 0px 0px;
    border: 2px #004d7d solid;
    float: left;
    font-family: helvetica;
    font-size: 20px;
}
#body_part_4 .form .radek .policko_2{
    max-height: 75px;
    height: 75px;
    max-width: 560px;
    width: 560px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 2px #004d7d solid;
    float: left;
    font-family: helvetica;
    font-size: 20px;
    display: block;
}
#body_part_4 .popisek{
    margin-top: 28px;
    float: left;
    font-family: helvetica;
    color: #333333;
    font-size: 20px;
}
#odeslat{
    width: 780px;
    height: 40px;
    float: left;
    margin: 0 auto;
    margin-left: 80px;
    margin-top: 37px;
    margin-bottom: 77px;
}
#odeslat input{
    width: 250px;
    height: 40px;
    font-family: helvetica;
    color: white;
    background-color: #004d7d; 
    font-size: 20px;
    float: left;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#odeslat input:hover{
    width: 250px;
    height: 40px;
    font-family: helvetica;
    color: white;
    background-color: #509bcc; 
    font-size: 20px;
    float: left;
}
#odeslat input:focus{
    width: 250px;
    height: 40px;
    font-family: helvetica;
    color: white;
    background-color: #509bcc; 
    font-size: 20px;
    float: left;
    border: 2px #019595 inset;
}
#zapati{
    width: 860px;
    margin-left: 90px;
    height: 20px;
    float: left;
}
.odkaz_podminky{
    color: #2a2a2a;
    text-decoration: none;
}
.odkaz_podminky:hover{
    color: #2a2a2a;
    text-decoration: underline;
}

/* By Lubos Hubacek - 22.4.2015 */
h2{
  font-family: arial;
  line-height: 30px;
  text-align: center;
  color: #333333;
  font-size: 19px;
}

#odeslat22{
    width: 780px;
    height: 40px;
    float: right;
    text-align: right;
    margin-top: 20px;
    margin-right: 10px !important;
}
#odeslat22 input{
    width: 250px;
    height: 40px;
    font-family: helvetica;
    color: white;
    background-color: #004d7d; 
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    margin-right: 10px;
}
#odeslat22 input:hover{
    background-color: #509bcc; 
}

#body_part_4 {
  margin-bottom: 20px;
}

.doporucujeme{
text-align: center; margin-top: 5px; font-weight: bold;
}
