.dialog {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  color: #db2323;
  padding: 10px 0px;
}

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	min-width: 1024px;
	min-height: 600px;
}

#main {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#main #leva {
	width: 50%;
	height: 100vh;
	background: url(../img/background_color_left.jpg) right top;
	background-size: cover;
	float: left;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(100%);
}

#main #leva .vyber {
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 401px;
	position: absolute;
	width: 400px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #db2323;
}

#main #prava .vyber {
	margin: auto;
	top: 0; bottom: 0; left: 401px; right: 0;
	position: absolute;
	width: 400px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #db2323;
	border-left: 0px;
}


#main #leva:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0);
}

#main #prava {
	width: 50%;
	height: 100vh;
	background: url(../img/background_color_right.jpg) left top;
	background-size: cover;
	float: right;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(100%);
}

#main #prava:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0);
}

.barva {
	filter: grayscale(0);
    -webkit-filter: grayscale(0%);
}

#main .vyber a {
	width: calc(100% - 30px);
	display: block;
	text-decoration: none;
	color: #808080;
	text-transform: uppercase;
	font-size: 20px;
	background: #FFF;
}

#main .vyber a:hover {
	background: #db2323;
	color: #FFF;
}

#main .vyber a.leva {
	float: left;
	padding-left: 30px;
}

#main .vyber a.prava {
	float: right;
	padding-right: 30px;
	text-align: right;
}

#main .vyber img {
	float: left;
}

#header {
	width: 420px;
	margin: auto;
	position: absolute;
	left: 0; right: 0; top: 0;
	margin-top: 55px;
}

#header #left {
	float: left;
	text-align: right;
}

#header #right {
	color: #FFF;
	font-size: 16px;
	line-height: 25px;
	padding-top: 25px;
	float: right;
	text-align: left;
}

#header #odkazy {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding-left: 50px;
	padding-right: 55px;
	padding-top: 55px;
}

#header #odkazy a {
	width: 150px;
	height: 40px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #FFF;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

section {
	height: 100vh;
}

section h1 {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2vw;
	margin-bottom: 50px;
}

section header {
	width: 100%;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
}

section header nav {
	margin: 0px auto;
	width: 494px;
}

section header nav a {
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	display: block;
	float: left;
	text-decoration: none;
	border: 1px solid #808080;
	color: #808080;
	margin-right: 10px;
	margin-left: 10px;
}

section header nav a:hover {
	color: #000;
}

section #info {
	width: 300px;
	margin: 0px auto;
	margin-top: -20px;
}

section #info b {
	font-weight: normal;
	color: #db2323;
	font-size: 3vh;
}

section #info #leva {
	width: 140px;
	float: left;
	text-align: right;
}

section #info #prava {
	width: 140px;
	float: right;
	text-align: left;
}

section #popis {
	width: 100%;
	text-align: center;
	color: #808080;
	font-size: 1.9vh;
}

section #objednavka {
	width: 424px;
	margin: 0px auto;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 10px;
}

section #objednavka input[type=text] {
	height: 25px;
	width: 200px;
	text-transform: uppercase;
	border: 1px solid #838381;
	margin-top: 10px;
	text-align: center;
	color: #838381;
}

section input[type=submit] {
    background: url(../img/button_hex_white.png);
    background-size: cover;
    border: 0;
    display: block;
    height: 80px;
    width: 71px;
    margin: 0px auto;
    color: #db2323;
    text-transform: uppercase;
    margin-top: 20px; 
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: 0.5s;
}

section input[type=submit]:hover {
    background: url(../img/button_hex_red.png);
    background-size: cover;
    border: 0;
    display: block;
    height: 80px;
    width: 71px;
    margin: 0px auto;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

section #objednavka #levaa {
	width: 202px;
	float: left;
	text-align: left;
	margin-right: 10px;
}

section #objednavka #pravaa {
	width: 202px;
	float: right;
	text-align: right;
	margin-left: 10px;
}

section #main {
	width: 100%;
	height: calc(50% - 30px);
	background: #FFF;
	margin-top: 30px;
}

section #leva-e {
	width: 50%;
	height: 100%;
	float: left;
}

section #leva-e main {
	width: 100%;
	height: calc(50% - 60px);
	padding-bottom: 60px;
}

section #leva-e .nazev {
	width: 100%;
	height: 60px;
	background: #e6e6e6;
	position: relative;
	top: calc(50% - 30px);
	margin: auto;
	position: fixed;
}

section #leva-f {
	width: 50%;
	height: 100%;
	float: left;
	background: url(../img/background_color_left.jpg) right top;
	background-size: cover;
}

section #leva-f .nazev {
	width: 100%;
	height: 60px;
	background: #db2323;
	position: relative;
	top: calc(50% - 30px);
	margin: auto;
}

section #leva-f .nazev h2 {
	line-height: 60px;
	color: #FFF;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.4em;
	float: left;
	margin-left: 25px;
}

section #leva-f .nazev img {
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-left: 75px;
}

section #prava-e {
	width: 50%;
	height: 100%;
	float: right;
}

section #prava-e main {
	width: 100%;
	height: calc(50% - 60px);
	padding-bottom: 60px;
	background: #FFF;
}

section #prava-e .nazev {
	width: 100%;
	height: 60px;
	background: #e6e6e6;
	position: relative;
	top: calc(50% - 30px);
	margin: auto;
	position: fixed;
}

section #prava-e .nazev h2 {
	line-height: 60px;
	color: #000;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.4em;
	float: left;
	text-align: center;
	width: 50%;
}

section #prava-f {
	width: 50%;
	height: 100%;
	float: right;
	background: url(../img/background_color_right.jpg) left top;
	background-size: cover;
}

section #prava-f .nazev {
	width: 100%;
	height: 60px;
	background: #db2323;
	position: relative;
	top: calc(50% - 30px);
	margin: auto;
}

section #prava-f .nazev h2 {
	line-height: 60px;
	color: #FFF;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.4em;
	float: right;
	margin-right: 25px;
}

section #prava-f .nazev img {
	height: 40px;
	float: right;
	margin-top: 10px;
	margin-right: 75px;
}

section #kontakt {
	width: 100%;
	height: 60px;
	background: #db2323;
	position: relative;
	top: calc(50% - 30px);
	margin: auto;
}

section #kontakt h1 {
	width: 100%;
	text-align: center;
	line-height: 60px;
	color: #FFF;
	font-weight: normal;
	text-transform: uppercase;
}

section footer.contact {
	width: 100%;
	height: 25px;
	position: absolute;
	bottom: 0;
	margin: auto;
	text-align: center;
	font-size: 1.6vh;
}

section footer {
	width: 50%;
	height: 25px;
	position: absolute;
	bottom: 0;
	margin: auto;
	text-align: center;
	font-size: 1.6vh;
}

section footer a {
	color: #808080;
}

section.kontakt main {
	width: 100%;
	height: calc(50% - 30px);
	background: #333;
	margin-top: -60px;
}

section.kontakt #googleMap {
	width: 100%;
	height: calc(50vh - 100px);
}

section.kontakt main.dalsi {
	width: 100%;
	height: calc(50% - 50px);
	background: #FFF;
	margin-top: 30px;
	text-align: center;
}

section.kontakt main.dalsi b {
	font-size: 2.3vh;
	font-weight: normal;
}

section.kontakt footer {
	width: 100%;
}

#obal {
	width: 30%;
	height: 60px;
	float: left;
}

#obal h2 {
	width: 100%;
	text-align: center;
	height: 32px;
	line-height: 32px;
	color: #000;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.4em;
}

#sipka-leva {
	float: left;
	height: 50px;
	padding-top: 5px;
	width: 10%;
	text-align: left;
}

#sipka-leva img {
	height: 50px;
	margin-left: 50%;
}

#sipka-prava {
	float: left;
	height: 50px;
	padding-top: 5px;
	width: 10%;
	text-align: right;
}

#sipka-prava img {
	height: 50px;
	margin-right: 50%;
}

#obal #tarif {
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	height: 12px;
	width: 100%;
	margin-top: 3px;
}

#obal #pocet {
	text-align: center;
	width: 100%;
	margin-top: -6px;
}

#obal #pocet img {
	height: 10px;
	margin-left: 1px;
	margin-right: 1px;
}

#posun {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.popis {
	color: #808080;
	text-align: center;
}

#objednej {
	width: 95px;
	height: 107px;
	background: url(../img/button_hex_white.png);
	background-size: cover;
	color: #db2323;
	margin: 0px auto;
	cursor: pointer;
	margin-top: 30px;
    transition: 0.5s;
}

#objednej:hover {
	width: 95px;
	height: 107px;
	background: url(../img/button_hex_red.png);
	background-size: cover;
	color: #FFF;
	margin: 0px auto;
	cursor: pointer;
	margin-top: 30px;
}

#objednej h5 {
	width: 100%;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	padding-top: 25px;
}

#objednej h4 {
	width: 100%;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	margin-top: -35px;
}

#objednej h3 {
	height: 107px;
	width: 100%;
	font-size: 26px;
	line-height: 107px;
	margin-top: -35px;
	font-weight: normal;
	text-align: center;
}

#obalek {
	width: 100%;
	height: 57px;
}

#kontakta {
	width: 142px;
	margin: 0px auto;
}

#kontakta a {
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	display: block;
	float: left;
	text-decoration: none;
	border: 1px solid #808080;
	color: #808080;
}

#kontakta a:hover {
	color: #000;
}

#prekryti-leva {
    height: 100vh;
    width: 50%;
    position: absolute;
    z-index: 1000;
    margin: auto;
    left: 0;
    top: 0;    
}

#prekryti-prava {
    height: 100vh;
    width: 50%;
    position: absolute;
    z-index: 1000;
    margin: auto;
    right: 0;
    top: 0;    
}

#proc {
    padding: 0px 60px 60px 60px;
    color: #808080;
	font-size: 1.9vh;
    text-align: center
}

#proc h1 {
    margin-top: 0px;
    font-weight: normal;
    color: #000;
}

.blok {
    text-align: justify;
    margin-top: 20px;
}

.bold {
	font-weight: bold;
}
* {
	margin: 0px;
	padding: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@-moz-document url-prefix() {
#main #leva .vyber {
	margin: auto;
	top: 0; bottom: 0; left: 561px; right: 0;
	position: absolute;
	width: 400px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #db2323;
}

#main #prava .vyber {
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 561px;
	position: absolute;
	width: 400px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #db2323;
	border-left: 0px;
}
}

#padesat {
    height: 50%;
    width: 100%;
    overflow: hidden;
}



@media screen\0 {
#main #leva {
	width: 50%;
	height: 100vh;
	background: url(../img/background_bw_left.jpg) right top;
	background-size: cover;
	float: left;
}
    
#main #leva:hover {
	width: 50%;
	height: 100vh;
	background: url(../img/background_color_left.jpg) right top;
	background-size: cover;
	float: left;
}
    
#main #prava {
	width: 50%;
	height: 100vh;
	background: url(../img/background_bw_right.jpg) left top;
	background-size: cover;
	float: right;
}
    
#main #prava:hover {
	width: 50%;
	height: 100vh;
	background: url(../img/background_color_right.jpg) left top;
	background-size: cover;
	float: right;
}
    
    
section.kontakt {
    text-align: center;
}
    
#kontakta {
    margin-top: 30px;
}
    
#kvycentruj {
    width: 100%;
    height: 60px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
}