{% extends "index.tpl" %} 
{% block title %}Firma{% endblock %}
{% block content %}
<div id='content'>
	
		<div class='bile' id='firma'>
			<div id="nadpis">NEZÁVAZNÁ POPTÁVKA</div>
			<div id="formular">
        <form>
          <input type="text" class="vlevo" placeholder="NÁZEV FIRMY" />
          <input type="text" class="vpravo" placeholder="E-MAIL" />    
          <input type="text" class="vlevo" placeholder="TELEFON" />
          <input type="text" class="vpravo" placeholder="ULICE A Č.P." />    
          <input type="text" class="vlevo" placeholder="PSČ" />
          <input type="text" class="vpravo" placeholder="MĚSTO" />  
          <textarea type="text" class="vlevo" id="zprava" placeholder="ZPRÁVA"></textarea>  
          
          <button type="submit" id="odeslat">ODESLAT</button>
        <form>
      </div>
		</div>

		<div id='content_middle'>
			<div class='pr'>
				<div class='pruhtym pr_left'></div>
				<div class='pruh pr_right'></div>
			</div>
			<div id='hex_white_tym'><div class="firma">Řešení pro firmy</div></div>
			<div class='pr'>
				<div class='pruh_doletym pr_left'></div>
				<div class='pruh_dole pr_right'></div>
			</div>
		</div>
		 
		<div class='in_content' id='in_sec'>
		  <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
			</p>
		</div>
	</div>
{% endblock %}