<footer> <div id='foot_efect'>&copy;2015 <a href='https://or.justice.cz/ias/ui/rejstrik-$firma?nazev=Diginex+Technology+s.r.o.' rel='nofollow' target='_blank' title='Obchodní rejstřík - externí stránka'>DIGINEX Technology s.r.o.</a> Všechna práva vyhrazena</div></footer>
 </body>
</html>