{% extends "index.tpl" %} 
{% block title %}Diginex{% endblock %}
{% block content %}
<div id='content' class="home">
	  	
		<div class='pruh_white'>
    INFORMAČNÍ TECHNOLOGIE NA JEDNOM MÍSTĚ
		</div> 
		<div class='pruh_blue' id="name_home">
   <p> ŘEŠENÍ PRO FIRMY  </p>
		</div>

		<div id='content_middle_home'>
			<div id='hex_white_home'><p>1</p></div>
			<div class='pr'>
				<div class='pruh_dole_home pr_left'></div>
				<div class='pruh_dole_home pr_right'></div>
			</div>
		</div>
		 
		<div class='pruh_blue'>
		  <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
			</p>
		</div>
	</div>
 <div id='content' class="home">
	  	
		<div class='pruh_white'>
    INFORMAČNÍ TECHNOLOGIE NA JEDNOM MÍSTĚ
		</div> 
		<div class='pruh_blue' id="name_home">
   <p> ŘEŠENÍ PRO FIRMY  </p>
		</div>

		<div id='content_middle_home'>
			<div id='hex_white_home'><p>1</p></div>
			<div class='pr'>
				<div class='pruh_dole_home pr_left'></div>
				<div class='pruh_dole_home pr_right'></div>
			</div>
		</div>
		 
		<div class='pruh_blue'>
		  <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
			</p>
		</div>
	</div>
   
{% endblock %}