{% extends "index.tpl" %} 
{% block title %}Servis{% endblock %}
{% block content %}
<div id='content'>
	
		<div class='bile' id='tym'>
			<div id="obrazek"><img src="graphics/images/netg2_logo.png" style="position:relative; top: 55px; left: -5px;"></div>
			<div id="internet" >KVALITNÍ PŘIPOJENÍ</div>
      	<div id="text_internet">na Rokycansku</div>
			   <button id="vyvoj_btn">MÁM ZÁJEM</button>
		</div>

		<div id='content_middle'>
			<div class='pr'>
				<div class='pruhtym pr_left'></div>
				<div class='pruh pr_right'></div>
			</div>
			<div id='hex_white_tym'><p>Internet</p></div>
			<div class='pr'>
				<div class='pruh_doletym pr_left'></div>
				<div class='pruh_dole pr_right'></div>
			</div>
		</div>
		 
		<div class='in_content' id='in_sec'>
		  <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
			</p>
		</div>
	</div>
{% endblock %}