{% extends "index.tpl" %} 
{% block title %}O Nás{% endblock %}
{% block content %}
<div id='content'>
	
		<div class='in_content' id='in_first'>
			<p>Testing Twig - šablonovací system :D <br> Odkaz -><a href="02_o_nas.jpg" target="_blank">Jak má tento web vypadat</a></p>
			
		</div>

		<div id='content_middle'>
			<div class='pr'>
				<div class='pruh pr_left_onas'></div>
				<div class='pruh pr_right'></div>
			</div>
			<div id='hex_about'>O nás</div>
			<div class='pr'>
				<div class='pruh_dole_onas pr_left_onas'></div>
				<div class='pruh_dole_onas pr_right'></div>
			</div>
		</div>
		 
		<div class='in_content' id='in_sec'>
		  <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
			</p>
		</div>
	</div>
{% endblock %}