{% extends "index.tpl" %} 
{% block title %}Servis{% endblock %}
{% block content %}
<div id='content'>
	
		<div class='bile' id='tym'>
			<div id="obrazek"><img src="graphics/images/diginex_logo.png" style="position:relative; top: 70px; left: -5px;"></div>
			<div id="servis" >PROFESIONALNÍ SERVIS</div>
      	<div id="text">pro firmy i jednotlivce</div>
			   <button id="servis_btn">POTŘEBUJI SERVIS</button>
		</div>

		<div id='content_middle'>
			<div class='pr'>
				<div class='pruhtym pr_left'></div>
				<div class='pruh pr_right'></div>
			</div>
			<div id='hex_white_tym'><p>Servis</p></div>
			<div class='pr'>
				<div class='pruh_doletym pr_left'></div>
				<div class='pruh_dole pr_right'></div>
			</div>
		</div>
		 
		<div class='in_content' id='in_sec'>
		  <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
			</p>
		</div>
	</div>
{% endblock %}