{% extends "index.tpl" %} 
{% block title %}Tym{% endblock %}
{% block content %}
<div id='content'>
	
		<div class='bile' id='tym'>
			<div id="obrazek"><img src="graphics/images/hex_photo.png" style="position: relative; top: 0; left: 0;"></div>
			<div id="jmeno">Lukáš Slabý</div>
      	<div id="pozice">Noob</div>
			
		</div>

		<div id='content_middle'>
			<div class='pr'>
				<div class='pruhtym pr_left'></div>
				<div class='pruh pr_right'></div>
			</div>
			<div id='hex_white_tym'><p>Tým</p></div>
			<div class='pr'>
				<div class='pruh_doletym pr_left'></div>
				<div class='pruh_dole pr_right'></div>
			</div>
		</div>
		 
		<div class='in_content' id='in_sec'>
		  <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem 
			</p>
		</div>
	</div>
{% endblock %}