/*
 * Lubos Hubacek
 * DIGINEX Technology s.r.o.
 * 20.8.2015
 */

/* Init setting */
* {
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: Open Sans , Sans-Serif;

}

a {
	color: #fff;
	text-decoration: none;
}

html, body {
	/*height: 100%;*/
}

body {
	/* Gradient mirne ztmavuje bg, aby to bylo dle navrhu */
	background:
		linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
		),
		url('../images/background.jpg') bottom center no-repeat
	;
background-size: cover;
background-attachment: fixed;
background-origin: content-box;
}

/* LOGO */
#logo {
	margin: 0 auto;
	display: block;
	height: 70pt;
	padding: 42pt 0pt;
}

/* Menu */
.nav{
  text-align: center;
	margin-bottom: 40pt;

}

.nav ul{
	list-style-type: none;
}

.nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.nav li {
	width: 170px;
	display: inline-block;
	text-align: center;
	border: 1px solid #fff;
	padding: 7px 0px;
	margin: 0px 1px;
}

.nav li:hover {
	border: 1px solid #479fad;
	cursor: pointer;
}


/* Paticka */
footer {
	position: fixed;
	bottom: 0px;
  text-align: center;
  width: 100%;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
}

#foot_efect{
	width: 600px;
	margin: 0 auto;
}

#foot_efect a:hover {
	text-decoration: underline;
}
/* ------------ Obsah Home ------------*/

.home{
	left: 10px;

  justify-content: center;
}
.pruh_white{

  position:relative;
  margin-left: -2px;
  font-size:40px;
  text-align:center;
  color: #479fad;
 	width: 1194px;
	height: 45px;

	padding: 22px 24px;
	background-color: white;
  float:left;
}
#googleMap {
	width:620px;
	height: 440px;
  left: -50px;
  top: -20px;
  position: relative;

	overflow: hidden;
}

#name_home p{

  margin-right:-50px;
  margin-top:52px;
  font-size:40px;
  text-align:center;
}
.pruh_blue {
  position:relative;
  top:130px;
	width: 480px;
	height: 166px;
   background-color: #479fad;
	float: left;
	padding: 20px 20px;

}
.pr_left_onas{
	float: left;
background-color: #479fad;
}
.pruh_dole .pr_left_kontakt{
  position:relative;
  top:-50px;
	width: 82px;
	height: 117px;

	display: inline-block;
}
#content_middle_home{
 	 position:relative;
  	top:130px;
	width: 191px;
	float: left;
}
#content_middle_home p{
  font-size:60px;
}
.pruh_dole_home{
	width: 82px;
	height: 1px;
	background-color: #479fad;
}
#hex_white_home {
	background: url('../images/hex_white2.png');
  color:white;
	font-size: 25pt;
	text-transform: uppercase;
	line-height: 205px; /* problem pokud bdue vice radek textu */
}
#hex_about {
	background: url('../images/hex_white2.png');
  color:white;
	font-size: 25pt;
	text-transform: uppercase;
	line-height: 205px; /* problem pokud bdue vice radek textu */
  margin-top:-50px;
}

/* --------- Obsah O nás ------------ */
.sipka {
    border: 20px solid transparent;
    width: 0px;
    height: 0px;
    display: inline-block;
    position: relative

}
.centred {
  position: fixed;

  left: 48.75%;
}
.dolu {
top: 89%;
border-top: 20px solid #ffffff;

}
/* --------- Obsah Kontakt ------------ */
#kontakt {
background:url("http://i.imgur.com/beGBdE3.png");
}
#pin_kontakt{
position:relative;
top:175px;
left:140px;
}
#kontakt_text p{
margin-top:70px;
text-align:left;
  color: rgb(230,230,230);
}
/* ------------- Obsah Tým ----------------- */
.bile{
		width: 476px;
	height: 400px;
	display: inline-block;
	background-color: white;
	float: left;
	padding: 20px 24px;
}
#obrazek{
position: relative;
top:90px;
padding:0 20px;
float:left;
}
#jmeno{
font-size: 25px;
right:100px;
color:#479fad;
position: relative;
top:170px;
float:right;
}
#pozice{
font-size: 20px;
right:47px;
color:#479fad;
position: relative;
top:200px;
float:right;
}
/* -------------- Obsah Internet --------------------*/
#internet{
font-size: 23px;
color:#479fad;
position: relative;
top:170px;
left:-32px;
float:right;
}
#text_internet{
font-size: 17px;
right:128px;
color:#479fad;
position: relative;
top:175px;
float:right;
}
/* -------------- Obsah Vývoj --------------------*/

#vyvoj{
font-size: 23px;
color:#479fad;
position: relative;
top:170px;
left:-70px;
float:right;
}
#text_vyvoj{
font-size: 17px;
right:80px;
color:#479fad;
position: relative;
top:175px;
float:right;
}
#vyvoj_btn{
  position: relative;
  top:290px;
  left: -40px;
  color:#479fad;
  font-size: 15px;
  background:none;
	width: 170px;
	display: inline-block;
	text-align: center;
	border: 1px solid #479fad;
	padding: 7px 0px;
	margin: 0px 1px;
}
#vyvoj_btn:hover{
color: white;
background-color: #479fad;
}
/* -------------- Obsah Servis --------------------*/
#servis{
font-size: 23px;
color:#479fad;
position: relative;
top:170px;
float:right;
}
#text{
font-size: 17px;
right:80px;
color:#479fad;
position: relative;
top:175px;
float:right;
}
#servis_btn{
  position: relative;
  top:290px;
  left: -40px;
  color:#479fad;
  font-size: 15px;
  background:none;
	width: 170px;
	display: inline-block;
	text-align: center;
	border: 1px solid #479fad;
	padding: 7px 0px;
	margin: 0px 1px;
}
#servis_btn:hover{
color: white;
background-color: #479fad;
}

/*---------- Obsah Stranky kde je bílí bok  ----------*/
#hex_white_tym{
  position:relative;
  top:-50px;
	background: url('../images/hex_tym.png');
	width: 191px;
	height: 205px;
	font-size: 22pt;
	text-transform: uppercase;
	line-height: 205px; /* problem pokud bdue vice radek textu */

	 display: flex;
  justify-content: center;
}
/*#hex_white_tym p{
 padding: 70px 0;
} */
.firma{
	line-height: 50px;
	white-space: normal;
	align-self: center;
}
/*---------- Obsah Frima ----------*/
#nadpis{
font-size: 20px;
color:#479fad;
text-align:center;
}
#formular{
margin-top: 10px;
}
.vpravo{
position: relative;
right:10px;
float:right;
}
.vlevo{
position: relative;
left: 50px;
float:left;
}
#formular input{
 margin-top: 10px;
  height:30px;
	width: 200px;
	display: inline-block;
	text-align: center;
	border: 1px solid rgb(219,219,219);

}
#formular textarea{
font-stretch: ultra-condensed;
  resize: none;
  margin-top: 10px;
  height:80px;
	width: 415px;
	display: inline-block;
	text-align: center;
	border: 1px solid rgb(219,219,219);

}
#formular button{
background:none;
}
#formular #odeslat{
font-size: 20px;
left:22px;
color:white;
position:relative;
top: 30px;
width:100px;
height:112px;
background-image: url("../images/hex_button.png");
background-size:100%;
}
#formular #odeslat:hover{
background-image: url("../images/hex_button_hover.png");
}

/* ------------------------------- */

.pruhtym{
	width: 82px;
	height: 118px;
	background-color: white;
	display: inline-block;
}
.pruh_doletym{
position:relative;
  top:-50px;
	width: 82px;
	height: 117px;
	background-color: white;
	display: inline-block;
}

.pruh {
	width: 82px;
	height: 118px;
	background-color: #479fad;
	display: inline-block;
	z-index: -20;
	position: relative;
}
.pruh_kontakt{
	width: 82px;
	height: 118px;

	display: inline-block;
	z-index: -20;
	position: relative;
}
.pruh_dole{
  position:relative;
  top:-50px;
	width: 82px;
	height: 117px;
	background-color: #479fad;
	display: inline-block;
}
.pruh_dole_kontakt{
  position:relative;
  top:-50px;
	width: 82px;
	height: 117px;
background: none;
	display: inline-block;
}
.pruh_dole_onas{
  position:relative;
  margin-bottom:50px;
	width: 82px;
	height: 117px;
	background-color: #479fad;
	display: inline-block;
}
.pruh_dole .pr_left{
background-color: none;
}
.pr_left {
	float: left;
	background: white;
}
.pr_right {
	float: right;
}

/* Maximalni prostor a dva divy se prilepi kazdy na jednu stranu */
.pr {
	width: 191px;
	height: 168px;
}
/*Modre bloky*/
#content {
  position:relative;
	color: #fff;
	height: 200px;
	text-align: center;
	width: 1264px;
	margin: 0 auto;

  left:13px;
}


.in_content {
	width: 476px;
	height: 400px;
	display: inline-block;
	background-color: #479fad;
	 float: left;
	 text-align: center;
	padding: 20px 25px;

}
.in_content1 {
	width: 460px;
	height: 400px;
	display: inline-block;
background-color: none;
	 float: left;
	 text-align: center;
	padding: 20px 25px;

}
#content_middle {
	display: inline-block;
	width: 191px;
	height: 540px;
	float: left;


}
.hidden{
	display: none;
}
#hex_kontakt {
 position:relative;
  top:-50px;
	background: url('../images/konatakt.png');
  z-index: 100;
  color:white;
	font-size: 25pt;
	text-transform: uppercase;
  text-align: center;
	line-height: 205px; /* problem pokud bdue vice radek textu */
}
.menu1{
	height: auto;
	width: 100%;
}
.click{
	display: none;
}
/*responzivita*/
@media all and (max-width: 340px) {

.in_content {
float: none;
width: 320px;
margin-right: 10px;
font-size: 12px;
height: 200px;
padding: 0px;
padding-top: 10px;
opacity: 0.8;
 filter: alpha(opacity=80);
}
.in_content  p {

    font-weight: bold;
    color:white;
		opacity: 1;
}
.nav{
	display: none;
}
.nav li{

}
.nav ul{
	margin-top: 15px;
		margin-right: 25px;

}
.click{
	display:block;
	text-align: right;


}
#content {
	width: 100%;
height: 400px;
left: 0px;
}

#icon {
	margin: 0 auto;
	display: block;
	height: 30px;
display: block;
float: right;
margin-right: 20px;

}
#content_middle {
width: 100%;
height: 160px;
}
#in_first{
margin-top: 15px;
}
#logo {
margin-left: -1px;
	height: 40pt;
	padding: 0pt;

}
#hex_about{
 background: url('../images/s.png') no-repeat;
margin-left: 80px;
margin-top: -169px;
background-size: 161px 161px;
line-height: 161px;
width: 160px;
text-align: center;
}


.pr{
width: 100%;
opacity: 0.8;
 filter: alpha(opacity=80);
}

.pruh{
height: 70px;
}
 .pruh_dole{
height: 80px;
top:-70px;
}

footer{
	text-align: left;
	font-size: 10px;
}
}
