body {background:url("./background/back.png");
background-attachment:fixed;background-size: 100% auto;
margin: 0 auto;
}
#head{
height:0;
display: block;
width:100%;
padding-bottom:2.5%;
border-bottom:5px ridge rgb(208,208,208);
}
#page{

width:70%;
display: block;
 padding-bottom:95% ;
 height: 0 auto;
border-left:5px ridge  rgb(252,252,252);
box-shadow:inset 3px 3px 8px 8px rgba(0,0,0, 0.5);
background-image:url('./background/back2.png');
margin-left: auto; margin-right: auto;
border-right:5px ridge rgb(252,252,252);

}
#logo{
width: 100%;

background-image: url('./background/logo.png');
background-repeat:no-repeat;

display: block;

 height: 0;
 background-size: 100%;
 padding-bottom:50%;
}
#pata{
  height:0;
  display: block;
   padding-bottom:2.5%;
width:100% auto;
clear:both;
border-top:5px ridge rgb(208,208,208) ;
}


@media screen and (max-width: 20em) {
   body{

font-size: 9px;

   }
  #head{
  height:0;
  display: block;
  width:130%;
  padding-bottom:2.5%;
  border-bottom:3px ridge rgb(208,208,208);
  }
  #page{

box-shadow:none;
 width:130%;
 margin:0px;
  display: block;
   padding-bottom:95% ;
   height: 0 auto;
border: none;

  }
  #logo{
  width: 100%;
background-size: 100% auto;
  background-image: url('./background/logo.png');
  background-repeat:no-repeat;



   height: 0;

   padding-bottom:50%;
  }
  #pata{
    height:0;
    display: block;
     padding-bottom:2.5%;
  width:130% ;
  clear:both;
  border-top:5px ridge rgb(208,208,208) ;
  }


}
